




      <!-- column 2 -->
       <h3><i class="fa fa-bar-chart"></i> Dashboard</h3>

       <hr>

	   <div class="row">
            <!-- center left-->
         	<div class="col-md-7">


              <div class="panel panel-default">
                  <div class="panel-heading"><h4>Processing Status</h4></div>
                  <div class="panel-body">


                    <small>Item Types Scanning Progress</small>

                    <%
                    scanningValue = CrestDatum.percentScanned*100 + 1
                    %>

                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%=  scanningValue %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=  scanningValue.to_s %>%">
                        <span class="sr-only"><%=  scanningValue.to_s %>% Complete</span>
                      </div>
                    </div>


                  </div><!--/panel-body-->
              </div><!--/panel-->

          	</div><!--/col-->

            <!--center-right-->
        	<div class="col-md-5">

               
                <hr>


			</div><!--/col-span-6-->

       </div><!--/row-->

  <!-- /upper section -->

  <!-- lower section -->
  <div class="row">



  </div><!--/row-->



<footer class="text-center"> </footer>


<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->




	<!-- script references -->

	</body>
</html>
