<h3>Crest Interface </h3>



<%

urlText = "Start Market Data Collection"

if ( CrestDatum.collectingMarketData )
  urlText = "Stop Market Data Collection"
end

%>

<a href="
<%=
url_for :controller => 'crest_interface', :action => 'setCollectData', :collect => !CrestDatum.collectingMarketData
%>
">
<div class="btn btn-primary"> <%= urlText %> </div>
</a>


<p>
  Last ItemType: <%= CrestDatum::latestItemType %>

</p>
