
<!DOCTYPE html>
<html>
<head>
  <title>Galactic Advisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>



  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle"></span>
        </button>
        <a class="navbar-brand" href="/">Galactic Advisor</a>
      </div>
      <div class="navbar-collapse collapse">

        <div style="color:#eee;margin-left:15px;margin-top:15px" >
        <% if CrestDatum.collectingMarketData %>
        <i class="fa fa-spinner fa-spin"></i> Collecting Market Data...
        <% end %>
      </div>

        <ul class="nav navbar-nav navbar-right">



          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
              <i class="fa fa-user"></i>Admin <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="#">My Profile</a></li>
              <li><a href="#"><i class="fa fa-lock"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /container -->
  </div>
  <!-- /Header -->



  <!-- Main -->
  <div class="container">

<%= yield %>

</div><!--/container-->
<!-- /Main -->


</body>
</html>
